undetected-chromedriver>=3.5.5
selenium>=4.25.0
PyYAML>=6.0.2
python-dotenv>=1.0.1
openai>=1.50.0
Flask>=3.0.3
Flask-SQLAlchemy>=3.1.1
SQLAlchemy>=2.0.35
rapidfuzz>=3.10.1
reportlab>=4.2.5
python-dateutil>=2.9.0
tenacity>=9.0.0
loguru>=0.7.2
pydantic>=2.9.2
pyotp>=2.9.0
APScheduler>=3.10.4
openpyxl>=3.1.5
setuptools>=70.0.0